
body {
  color: #343a40;
  text-align: center;
  font-size:22px;
}

h1 {
  font-family: 'Lobster', cursive;
 font-weight:700;
 margin-top:40px;
 font-size:48px;
}

p {
    /* font-family: "Courier New";
  font-size: 30px;*/
    margin-top:80px;
}
button{margin-top:40px;}

#doge-image img {
  height: 200px;
  margin-top: 60px;
}

.page-header{
    background-color:#00bda5!important;
    color:#ffff;
}
