
body {
  color: #343a40;
  text-align: center!important;
  font-size:22px;
}

h1 {
  font-family: 'Lobster', cursive;
 font-weight:700;
 font-size:48px;
}


#doge-image img {
  height: 200px;
  margin-top: 60px;
}

.page-header{
    background-color:#00bda5;
    color:#ffff!important;
}
