
#doge-image img {
    height: 200px !important;
    margin-top: 60px !important;
}

.page-header{
    background-color:#00bda5;
    color:#ffff!important;
}
.hero-button {
    background-color: #ae2d59;
    color: white !important;
    border: 1px solid #cb376a;
    margin-top: 0rem!important;
    padding: 0.9375rem 1.875rem;
    font-family: "Monserrat", sans-serif;
    font-size: 1.125rem;
    font-weight: 200;
    cursor: pointer;
}

.rightNav {
    width: 50%;
    text-align: right;
}
.search {
    padding: 10px;
    font-size: 17px;
    border: 2px solid grey;
    border-radius: 9px;
}
error-message{display:none;}

@media only screen and (max-width: 600px) {
.search{
    padding:5px;
    font-size:10px;
    float:left;
    width:65%;
}
    .hero-button {
        padding: 0rem 0rem!important;
        font-size: 1.120rem!important;
        float:left;
    }
}