<!DOCTYPE HTML>
<html lang="en">
<head>
    <% include ../helpers/head %>
</head>
<body>
  <!--<div class="page-header">-->
  <% include ../helpers/navbar %>
  <!--</div>-->
  <section id="education" style=" background: linear-gradient( #003153, #4e6c86);">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="text-center animation" data-animation="fadeInUp" data-animation-delay="0.01s">
                        <div class="heading_s1 text-center">
                            <h1 style="color: #fff;">
                                HOME
                            </h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="tcol-lg-6 animation" data-animation="fadeInLeft"
                             data-animation-delay="0.03s">

                            </div>
                        </div>
                        <div class="col-md-4 col-lg-6 col-sm-9 animation" data-animation="fadeInRight"
                             data-animation-delay="0.03s">
                            <div id="carouselExampleFade" class=" carousel" data-ride="carousel">
                                <div class="carousel-inner">
                                    <img class="carousel-item active background_bg" src="assets/image-1.jpg" alt="cyber awarness workshop" title="Cyber Awarness Workshop">
                                    <img class="carousel-item background_bg" src="assets/image-2.jpg" alt="don't bully anyone on internet" title="Don't Bully Anyone on Internet">
                                    <img class="carousel-item background_bg" src="assets/image-3.jpg" alt="group photo" title="Group Photo">
                                    <img class="carousel-item background_bg" src="assets/image-4.jpg" alt="workshop" title="Workshop">
                                    <img class="carousel-item background_bg" src="assets/image-5.png" alt="code" title="Coding Ability">
                                    <img class="carousel-item background_bg" src="assets/image-6.png" alt="github" title="Stats">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
  <p id="demo">
    This is me testing out a lil html file
  </p>
  <button class="hero-button" type="button" onclick="myFunction()">
    Try it
  </button>
  <div id="doge-image"/>
</body>
</html>