<!DOCTYPE HTML>
<html lang="en">
<head>
    <% include ../helpers/head %>
</head>
<body>
  <!--<div class="page-header">-->
  <% include ../helpers/navbar %>
  <!--</div>-->
  <section id="education" style=" background: linear-gradient( #003153, #4e6c86);">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="text-center animation" data-animation="fadeInUp" data-animation-delay="0.01s">
                       <br />
                       <div class="heading_s1 text-center">
                            <h1 style="color: #fff;">
                                HOME
                            </h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="tcol-lg-6 animation" data-animation="fadeInLeft"
                             data-animation-delay="0.03s">
                            <!--<p id ="demo">This is me testing out a lil html file</p>
                            <button class="hero-button" type="button" onclick="myFunction()">Try </button>
                         <div id="doge-image"/>-->
                         <div class="city">

                         </div>
                         <div class="temp">

                         </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>