<!DOCTYPE HTML>
<html lang="en">
<head>
    <% include ../helpers/head %>
</head>
<body>
  <div class="page-header">
  <% include ../helpers/navbar %>
  </div>
  <section id="education" style=" background: linear-gradient( #003153, #4e6c86);">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="text-center animation" data-animation="fadeInUp" data-animation-delay="0.01s">
                        <div class="heading_s1 text-center">
                            <h1 style="color: #fff;">
                                Education
                            </h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="tcol-lg-6 animation" data-animation="fadeInLeft"
                             data-animation-delay="0.03s">
                            <div class="tablescroll" aria-labelledby="n" role="region" tabindex="0">
                                <table style=" background-color: rgba(0, 0, 0, 0.5);">
                                    <caption id="n"><cite>Educational Qualifications Table</cite></caption>
                                    <thead>
                                        <tr>
                                            <th scope="col">Instiute</th>
                                            <th scope="col">Course</th>
                                            <th scope="col">Year</th>
                                            <th scope="col">Grades(CGPA)</th>
                                            <th scope="col">Academic Details</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Institute of Innovation in Technology & Management</td>
                                            <td>Bachelor of Computer Application (BCA)</td>
                                            <td>2019-2022</td>
                                            <td>8.426</td>
                                            <td><ul style="list-style-type:none"><li>Taken training of Machine Learning and Artificial Intelligence.</li></ul></td>
                                        </tr>
                                        <tr>
                                            <td>Ramjas School</td>
                                            <td>Physics-Chemistry-Maths-Sociology-English-Computer Science</td>
                                            <td>2018-2019</td>
                                            <td>06.4</td>
                                            <td>
                                                <ul style="list-style-type:none">
                                                    <li>Taken part in the science symposium with my team.</li>
                                                    <li>Taken part in the maths symposium with my team.</li>
                                                    <li>Taken part in the rally to make people aware of pollution.</li>
                                                    <li>Made presentations and project files for symposium and school work.</li>
                                                    <li>Developed small games and graphs on the topic “Probability” using GeoGebra for the maths symposium.</li>
                                                    <li>Managed the Cyber Awareness campaign held in the school.</li>
                                                    <li>Developed content for Cyber Awareness campaign.</li>
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Ramjas School</td>
                                            <td>English-Science-Maths-Social Science-Spanish</td>
                                            <td>2016-2017</td>
                                            <td>07.8</td>
                                            <td>--</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-6 col-sm-9 animation" data-animation="fadeInRight"
                             data-animation-delay="0.03s">
                            <div id="carouselExampleFade" class=" carousel" data-ride="carousel">
                                <div class="carousel-inner">
                                    <img class="carousel-item active background_bg" src="assets/image-1.jpg" alt="cyber awarness workshop" title="Cyber Awarness Workshop">
                                    <img class="carousel-item background_bg" src="assets/image-2.jpg" alt="don't bully anyone on internet" title="Don't Bully Anyone on Internet">
                                    <img class="carousel-item background_bg" src="assets/image-3.jpg" alt="group photo" title="Group Photo">
                                    <img class="carousel-item background_bg" src="assets/image-4.jpg" alt="workshop" title="Workshop">
                                    <img class="carousel-item background_bg" src="assets/image-5.png" alt="code" title="Coding Ability">
                                    <img class="carousel-item background_bg" src="assets/image-6.png" alt="github" title="Stats">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
  <p id="demo">
    This is me testing out a lil html file
  </p>
  <button class="hero-button" type="button" onclick="myFunction()">
    Try it
  </button>
  <div id="doge-image"/>
</body>
</html>