<!DOCTYPE HTML>
<html lang="en">
<head>
    <% include ../helpers/head %>
</head>
<body>
  <div class="page-header">
  <% include ../helpers/navbar %>
  <br />
    <h1>Hello</h1>
  </div>
  <p id="demo">
    This is me testing out a lil html file
  </p>
  <button class="btn btn-default" type="button" onclick="myFunction()">
    Try it
  </button>
  <div id="doge-image"/>
</body>
</html>