
    <meta charset="utf-8" />
    <title>Web App</title>
    <!-- First we import our css files -->
    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css' />
    <!-- this app's own css -->
    <link rel="stylesheet" type="text/css" href="css/main.css"/>
     <link rel="stylesheet" href="https://deepam-aggarwal.github.io/Deepam-Portfolio/src/css/Style3.css"/>
     <link rel="stylesheet" href="https://deepam-aggarwal.github.io/Deepam-Portfolio/src/css/Style2.css"/>
     <link rel="stylesheet" href="https://deepam-aggarwal.github.io/Deepam-Portfolio/src/css/Style5.css"/>
     <link rel="stylesheet" href="https://deepam-aggarwal.github.io/Deepam-Portfolio/src/css/Style1.css"/>
      <link rel="stylesheet" href="https://deepam-aggarwal.github.io/Deepam-Portfolio/src/css/bootstrap.css"> 
 

    <!-- Next import js files -->
    <!-- then bootstrap 
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>-->
    <script>var apiKey="<%= pocess..API_KEY %>";</script>
    <!-- then our app's own js file -->
    <script src="js/main.js"></script>
     <script src="https://deepam-aggarwal.github.io/Deepam-Portfolio/src/js/JavaScript1.js"></script>
      <!-- first we import jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
     <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="https://kit.fontawesome.com/24a476b79d.js" crossorigin="anonymous"></script>
 
