<nav class="navbar navbar-expand-lg" style="position:fixed">
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="ion-android-menu"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="justify-content: center">
            <ul class="navbar-nav">
                <li class="dropdown">
                    <a class=" nav-link" href="/">Temperature API</a>
                </li>
                <li class="dropdown">
                    <a class="nav-link" href="/about">ABOUT</a>
                </li>
                <li class="dropdown">
                    <a class=" nav-link" href="/project">PROJECTS</a>
                </li>
        </div>
   <div class="rightNav" >
 <input type="text" placeholder="Enter city name" class="search" />
 <button class="hero-button" onClick="searchWeather()" type="submit">Search</button>
</div>
 </nav>